/* trivia game css */

/* format for the footer  */
footer {
    text-align: center;
    color: white;
    clear: both;
    background-color: #666666;
    padding: 15px 0px;
}

/* footer formatting for h3 elements */
footer h3 {
    font-size: 12px;
}

.btn-lg {
    margin: 10px;
}

#game {
    margin-left: 0;
}